.btn-container {
  position: relative;
  width: 100%;

  .price {
    .badge {
      min-width: 50px;
    }
  }

  button.small-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
  }

  @media (max-width: 480px) {
    .price {
      margin-right: 5px;
    }
  }
}
